<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/CanteenManager.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="logo"><h2>ГБПОУ НСО "ДАК"</h2></div>

    <div class="nav">
        <a href="/canteen/manager" class="nav_link">Посещаемость</a>
        <a href="/canteen/manager/1" class="nav_link">Платная основа отчет</a>
        <a href="/canteen/manager/2" class="nav_link">Малоимущие отчет</a>
        <a href="/canteen/manager/3" class="nav_link">Сироты отчет</a>
        <a href="/logout" class="nav_link">Выйти</a>
    </div>

</header>

<section class="section">

    <h1>Присутствующие студенты</h1>

    <div class="big-table">
        <table>
            <tr>
                <th width="220">№ Группы</th>
                <th width="220">Всего пришло</th>
                <th width="220">Сироты</th>
                <th width="220">Малоимущие</th>
                <th width="220">Платная основа</th>

            </tr>
            <tr th:each="reportEntry : ${report}">
                <td th:text="${reportEntry.groupName}"></td>
                <td th:text="${reportEntry.totalAttendance}"></td>
                <td th:text="${reportEntry.sirot}"></td>
                <td th:text="${reportEntry.maloimuchi}"></td>
                <td th:text="${reportEntry.richBoys}"></td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>