<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/CanteenManagerReportOne.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="logo"><h2>ГБПОУ НСО "ДАК"</h2></div>

    <div class="nav">
        <a href="/canteen/manager" class="nav_link">Посещаемость</a>
        <a href="/canteen/manager/1" class="nav_link">Платная основа отчет</a>
        <a href="/canteen/manager/2" class="nav_link">Малоимущие отчет</a>
        <a href="/canteen/manager/3" class="nav_link">Сироты отчет</a>
        <a href=" /signup" class="nav_link">Выйти</a>
    </div>

</header>

<section class="section">


    <h1 th:text="${title}"></h1>
    <div class="big-table">
        <table>

            <tr>
                <th width="300">ФИО студента</th>
                <th width="300">Личная сумма</th>
                <th width="300">Потрачено</th>
                <th width="300">В период по</th>
            </tr>
            <tr th:each="reportEntry : ${report}">
                <td th:text="${reportEntry.studentName}"></td>
                <td th:text="${reportEntry.currentBenefit}"></td>
                <td th:text="${reportEntry.totalCharge}"></td>
                <td th:text="${reportEntry.periodEnd}"></td>
            </tr>

        </table>
    </div>
    </div>
</section>
</body>
</html>