<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/TeacherStyle.css}">
    <link rel="stylesheet" th:href="@{/css/ClickButton.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<header class="header">
    <div class="logo"><h2>ГБПОУ НСО "ДАК"</h2></div>

    <div class="nav">
        <div class="nav_link">Сортировка № группы</div>
        <div class="nav_link">Сортировка А-Я</div>

        <input type="search" id="site-search" name="q">

        <div class="search_button">Поиск по фамилии</div>
        <div class="search_button">Поиск по группе</div>
        <a href="/logout" class="search_button">Выйти</a>
    </div>
</header>

<section class="section">

    <h1>Таблица преподавателя</h1>
    <div class="big-table">
        <table>
            <tr>
                <th></th>
                <th>ФИО</th>
                <th>Класс</th>
                <th th:each="dayzEntry : ${dayz}" th:text="${dayzEntry}"></th>
            </tr>
            <tr th:each="studentEntry : ${student}">
                <td th:text="${studentEntry.studentId}"></td>
                <td th:text="${studentEntry.studentName}"></td>
                <td th:text="${studentEntry.groupName}"></td>
                <td th:each="dayzEntry : ${dayz}">
                    <input th:data-day="${dayzEntry}"
                           th:disabled="${dayzEntry == currentDay} ? 'false' : 'true'"
                           th:data-id="${studentEntry.studentId}"
                           th:checked="${!#lists.contains(studentEntry.visitedDays, dayzEntry)}"
                           type="checkbox"
                           class="plus-minus"></td>
            </tr>
        </table>
    </div>
    </div>
</section>
<script src="/js/attendance.js"></script>
</body>
</html>